/* One Page Checkout */

.ppt_opc #wsd-checkout-box img.product-image {
    width: initial;
}

/* Price Donate */
#price_donate {
    color: #AF2144;
}
/* arbitrary_price */
span.price_donate_suggested_currency {
    color: #fff;
}
.arbitrary_price .btn-default {
    color: #fff;
}
.price_donate_suggested {
    background-color: #AF2144;
    background-image: none;
    border-color: #fff;
    border: 2px solid #fff;
}
.price_donate_suggested:hover {
    background-color: #731d3a;
}

/* add to cart Button */
#add_to_cart {
        background-color: #AF2144;
    background-image: none;
    border-color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
}
/* correction of new class btn_primary at the price_donate input field */
#price_donate.btn-primary,
#price_donate.btn-primary:active,
#price_donate.btn-primary:focus,
#price_donate.btn-primary:visited,
#price_donate.btn-primary:hover {
  background-color: #f1f1f1;
  background-image:none;
  color: #AF2144;
}
